@model RealStateDotNet.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Neighbourhood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neighbourhood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressComplement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressComplement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEmployee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
